body {
    font-family: "Montserrat", sans-serif;
    background: #e5e5e5;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    justify-content: center;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
aside {
    width: 370px;
    background: #1e2939;
}
.cv-photo {
    margin-top: 25px;
}
.header-secondary {
    color: #ffffff;
}
.contact-data {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.bold {
    color: #ffffff;
    font-weight: 700;
}
.contact-links {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.5;
}
.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
}
.list-secondary-item {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}

.tech-skils-block {
    margin-top: 47px;
    margin-left: 40px;
}

.soft-skils-block {
    margin-top: 44px;
    margin-left: 40px;
}
